<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="dashboard">
                <span class="feather icon-home"></span>
                Início
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="produtosList">
                <span class="feather icon-shopping-cart"></span>
                Produtos
            </a>
        </li>
    </ul>
</div>